<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'AgilePro/css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Testimonio</title>
</head>
<body>
    <header>
        <div class="logo">
          {% load static %}
          <img src="{% static 'AgilePro/img/AgileProTrack.png' %}" alt="AgileProTrack" />
        </div>
        <nav>
          <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'listado_testimonios' %}">Control de Testimonios</a></li>
            <li><a href="{% url 'home' %}">Cerrar Sesión</a></li>
          </ul>
        </nav>
      </header>
    <section style="text-align: center; margin-top: 3%;">
        <h1>Editar Testimonio</h1>
        <form action="" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form }}

            <div style="margin-top: 1%;">
                <input type="reset" class="cta-btn" value="Cancelar">
                <input type="submit" class="cta-btn" value="Editar">
            </div>

        </form>
    </section>

   {{mensaje}}

</body>
</html>