<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'AgilePro/css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>

    <header>
        <div class="logo">
          {% load static %}
          <img src="{% static 'AgilePro/img/AgileProTrack.png' %}" alt="AgileProTrack" />
        </div>
    </header>

    <section style="text-align: center; margin-top: 3%;">
        <h1>Registro</h1>
        
        <form action="" class="login" id="login" method="post">
            {% csrf_token %}
            {{ form }}
            
            <div style="margin-top: 1%;">
                <button 
                    type="submit" 
                    id="ingresar" 
                    class="cta-btn" 
                    value="ingresar">
                    Ingresar
                </button>
                <a href="{% url 'index' %}" class="cta-btn">Regresar</a>
            </div>
        </form>
    </section>
    


</body>
</html>